---
import { Image } from "astro:assets"

import Pocket from "../assets/images/pocket.svg"
import Thumb from "../assets/images/thumb.png"

const getArticles = () => {
  null
} //TODO: create the service on backend

const articles = getArticles() || []
// const articles: [] = []
---

<section
  class="education bg-white relative flex flex-col rounded-xl xs:square col-span-1 row-span-1 md:col-span-2 overflow-clip p-4 shadow-md hover:shadow-xl hover:scale-105 transition-all"
>
  <a
    href="https://getpocket.com/"
    class="flex justify-center items-center md:justify-between h-[100%] md:h-auto w-[100%] flex-col md:flex-row"
  >
    <h2 class="text-xs md:text-xl font-bold text-background order-2">
      Latest reading
    </h2>
    <Image
      src={Pocket}
      alt="code error"
      class="w-8 md:w-[2rem] order-1 mb-6 md:mb-0"
    />
  </a>
  <ul class="flex-col justify-between py-4 hidden md:flex">
    {
      articles?.length >= 1 ? (
        articles.map((item) => (
          <li class="flex justify-between border-b mb-2">
            <p>
              <a href={item.resolved_url}>
                <strong class="hover:underline">{item.resolved_title}</strong>
              </a>
              <br />
              {item.domain_metadata?.name} -{item.listen_duration_estimate}
              mins
            </p>
            <a href={item.resolved_url}>
              <Image
                alt="article thumb"
                src={item.top_image_url || Thumb}
                class="w-[50px] h-[50px]"
              />
            </a>
          </li>
        ))
      ) : (
        <h2 class="text-center py-4">🫠 Nothing here</h2>
      )
    }
  </ul>
</section>
