---
import { Image } from "astro:assets"
import Cloudy from "./weather/Cloudy.astro"
import Sunny from "./weather/Sunny.astro"
import SunnyCloudy from "./weather/SunnyCloudy.astro"
import Rainy from "./weather/Rainy.astro"
import ClearNight from "./weather/ClearNight.astro"
import convertUnits from "convert-units"

// funcionality

const url =
  "https://api.openweathermap.org/data/2.5/weather?lat=-33.437990&lon=-70.644600&appid=679a300a4370d2afc644af5073d33308"

const response = await fetch(url)
const { weather, main, name, sys } = await response.json()
const currentWeather = weather[0]
const currentDate = new Date()
const currentHour = currentDate.getHours()
const currentMinutes = currentDate.getMinutes()
---

<section
  class:list={[
    "relative flex flex-col items-center justify-center rounded-xl xs:h-auto col-span-2 row-span-1 overflow-clip p-4",
    currentHour < 19 ? "weather-day" : "weather-night",
  ]}
>
  <div class="flex justify-between w-[100%]">
    {
      currentWeather.main == "Clear" ? (
        <Sunny />
      ) : currentWeather.main == "Clouds" ? (
        <Cloudy />
      ) : currentWeather.main == "Drizzle" || currentWeather.main === "Rain" ? (
        <Rainy />
      ) : (
        <Sunny />
      )
    }
    <div class="w-[45%] md:w-[50%]">
      <h2 class="text-2xl md:text-6xl font-bold text-white">
        {`${Number(convertUnits(main.temp).from("K").to("C").toFixed(0))}°`}
      </h2>
      <p class="text-white text-xs md:text-base">{`${name}, ${sys.country}`}</p>
      <p class="text-sm md:text-base">
        {currentWeather.description}
        <br />
        {`${currentHour}:${currentMinutes < 10 ? 0 : ""}${currentMinutes}`}
      </p>
    </div>
  </div>
</section>
