---
import { Image } from "astro:assets"
import Layout from "@layouts/BlogLayout.astro"
import PostCard from "@components/blog/PostCard.astro"

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <article class="blogpost text-black md:text-text">
    <div class="cover">
      <section class="flex justify-between w-full z-10">
        <div class="meta-info flex gap-4 text-white items-center">
          <figure
            class="flex overflow-clip rounded-full bg-slate-300 w-[60px] h-[60px] items-center"
          >
            <Image
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
              height={100}
              width={100}
            />
          </figure>
          <section class="leading-relaxed">
            <h3 class="font-bold pb-0">{frontmatter.author}</h3>
            <span class="block my-0">Sofware engineer</span>
            <span class="block my-0">
              {`Published at: ${frontmatter.pubDate?.slice(0, 10)}`}
            </span>
          </section>
        </div>
        <div class="social flex items-center gap-2">
          <a
            href="https://x.com/josefosaurus"
            class="block text-black fa-brands bg-accent fa-twitter p-2 rounded-full hover:text-white"
          ></a>
          <a
            href="https://linkedin.com/in/avilajose"
            class="block text-black fa-brands bg-accent fa-linkedin-in p-2 rounded-full hover:text-white"
          ></a>
        </div>
      </section>
      <div class="cover my-8 z-10">
        <PostCard
          square={false}
          custom="h-[550px]"
          title={frontmatter.title}
          background={frontmatter.cover || frontmatter.heroImage}
        />
      </div>
      <span
        class="block absolute -z-10 top-0 left-0 bg-[#434343] w-full h-[500px]"
      ></span>
    </div>
    <section class="content z-10 max-w-[90%] mx-auto">
      <h2 class="text-xl font-bold italic">{frontmatter.description}</h2>
      <span class="block w-full h-[2px] bg-text my-6"></span>
      <slot />
    </section>
  </article>
  <div class="foot mt-8">
    <div class="flex justify-between">
      <h2 class="text-2xl text-background dark:text-text">Tags</h2>
      <h2 class="text-2xl text-background dark:text-text dark:hover:text-white">
        <a href="/blog">
          <i class="fa-solid fa-angles-left"></i> Back to posts</a
        >
      </h2>
    </div>
  </div>
  <span class="block w-full h-[2px] bg-text my-6"></span>
  <div class="flex gap-2 justify-start">
    {
      frontmatter?.tags.map((tag: string) => (
        <span class="bg-text text-black dark:text-white py-1 px-4 capitalize rounded-full">
          {tag}
        </span>
      ))
    }
  </div>
</Layout>

<style is:global>
  .blogpost .content h1,
  .content h2,
  .content h3,
  .content h4 {
    font-weight: bold;
    margin: 1rem 0;
  }

  .blogpost .content p {
    margin-top: 1rem;
  }

  .blogpost .content a {
    text-decoration: underline;
  }

  .blogpost .content h1 {
    font-size: 2rem;
  }

  .blogpost .content h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .blogpost .content h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .blogpost .content img {
    margin: 0.1rem auto;
  }

  .blogpost .content .astro-code {
    margin: 0.1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background: #0c1021 !important;
  }

  .blogpost .content ol {
    counter-reset: list;
  }

  .blogpost pre {
    position: relative;
  }

  .blogpost code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .blogpost p > code {
    background: #0c1021;
    padding: 1rem 1.8rem;
    border-radius: 12px;
    width: 100%;
    display: block;
  }

  .astro-code {
    margin: 1rem auto !important;
    display: block;
  }

  .blogpost pre > i {
    top: 20px;
    right: 20px;
    position: absolute;
  }

  .blogpost pre > i:before {
    font-size: 1.5rem;
  }

  .blogpost pre > i:hover {
    color: #00b61e;
    cursor: pointer;
  }

  .blogpost ul {
    list-style: circle !important;
    padding-left: 2rem !important;
  }

  .blogpost ol {
    list-style: decimal !important;
    padding-left: 2rem !important;
  }

  .blogpost .astro-code::before,
  p > code::before {
    content: "Code";
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
    padding: 0.2rem 0.5rem;
    width: fit-content;
  }
</style>
